<div class="container">
  <h1>Angular Directives</h1>
  <nav aria-label="...">
    <ul class="pagination pagination-lg">
      <li
        class="page-item"
        [ngClass]="getDisable('pre')"
        (click)="preNextUpdate('pre')"
      >
        <span class="page-link">Previous</span>
      </li>
      <ng-container *ngFor="let image of images; let i = index">
        <li
          class="page-item"
          [ngClass]="{ active: i === currentPage }"
          (click)="updateCurrentPage(i); getLastPage(images.length - 1)"
          *ngIf="getWindowIndex(i)"
        >
          <a class="page-link" href="#" tabindex="-1">{{ i + 1 }}</a>
        </li>
      </ng-container>

      <li
        class="page-item"
        [ngClass]="getDisable('next')"
        (click)="preNextUpdate('next')"
      >
        <a class="page-link" href="#">Next</a>
      </li>
    </ul>
  </nav>
  <div class="container">
    <div class="col-6 col-offset-3">
      <h1>{{ images[currentPage].title }}</h1>
      <img [src]="images[currentPage].url" />
    </div>
  </div>
</div>
